#wrap{
  width:80%;
  margin-left: 30%;
  margin-right: 30%;

}

.Text{
  margin-top:100px;
}
#reviewTable {
  border-collapse: collapse;
  width: 100%;
  display: none;
  margin-top: 30px;
}

#reviewTable td, #reviewTable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#reviewTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#reviewTable tr:not(:first-child):hover {
  background-color: #ddd;
}

#reviewTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

@media (max-width:700px) {
  
  #wrap{
    margin: 0;
  }
}

.modal-body input, textarea{
  color: black;
}
.modal-body label{
  display: block;
}

.modal-body .textarea-field{
  border: 2px solid #DADADA;
}

.modal-body .textarea-field:focus{
  border: 2px solid #0C0;
}

.modal-footer #submit-btn {
  margin-top: 0;
  background-color: green;
  text-decoration: none;
  color: white;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
